.text {
    position: relative;
    display: inline-block;
}

.text:after {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: translateY(-50%);
    width: 2px;
    height: 100%;
    background: #000;
    content: "";
    animation: blink .5s infinite alternate;
}

@keyframes blink {
    from {
        height: 100%;
    }

    to {
        height: 0;
    }
}